{% extends "base.html" %}
{% load staticfiles %}
    {% block title%}<title>Abstract Aardvark</title>{% endblock %}
    {%block bodyblock %}
            <div class = "col-sm-4 col-md-3 sidebar">

                    <div class="btn-group btg" data-toggle="buttons">
                      <label class="btn btn-primary active" id="easy">
                        <input type="radio" name="options"  autocomplete="off" checked> Easy
                      </label>
                      <label class="btn btn-primary" id="medium">
                        <input type="radio" name="options"  autocomplete="off"> Medium
                      </label>
                      <label class="btn btn-primary" id="hard">
                        <input type="radio" name="options"  autocomplete="off"> Hard
                      </label>
                    </div>

                
            </div>
            <div  class = "col-sm-8 col-sm-offset-4 col-md-9 col-md-offset-3">
                  
<!--                     <div class="alert alert-danger fade " id = "lossAlert" role="alert">
                        <button type="button" class="close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong>Warning!</strong>Tree requested no longer exists
                    </div> -->
                    <div id = "container"></div>
            </div>
        {% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static 'js/kinetic-v5.1.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tree.js' %}"></script>
    <script type="text/javascript" src = "{% static 'js/game.js'%}"></script>
    <script type="text/javascript">
        $('.btn-primary').on('click',function(){
            $(this).addClass('active').siblings().removeClass('active');
                console.log($(this).attr('id'));
                get_game($(this).attr('id'));

        });
        $(window).resize(function(){
            adjustments();
        });
    </script>
{% endblock %}

